@charset "UTF-8";
/* 테이블 가운데정렬, 너비 600 */
table{margin: 0 auto; width: 600px;}
.justCenter{text-align : :center;}

td,th {border: 1px solid #888; padding: 2px 5px;}
th{color: white;background: black;}

.data:hover{background: #eee; cursor: pointer;
 color: #8080ff;}
 
 .data th, .data td{text-align: center;}
 
 .justLeft{text-align: left;}